
<h1>Form Based</h1>
<form #nameForm="ngForm" (ngSubmit)="submit(nameForm.value)" novalidate>

  <div>
    <label>First name:
      <input (ngModel)="fullName.first"
             [ngClass]="{error : invalid(nameForm.controls.first)}"
             name="first"
             type="text"
             required>
    </label>
    <span *ngIf="invalid(nameForm.controls.first)">
      Enter first name
    </span>
  </div>

  <p>
    <label>Middle initial:
      <input (ngModel)="fullName.middle"
             name="middle"
             type="text">
    </label>
  </p>

  <p>
    <label>Last name:
      <input (ngModel)="fullName.last"
             [ngClass]="{error : invalid(nameForm.controls.last)}"
             name="last"
             type="text"
             required>
    </label>
    <span *ngIf="invalid(nameForm.controls.last)">
      Enter last name
    </span>
  </p>

  <button [disabled]="nameForm.invalid" type="submit">Submit</button>
  <button (click)="nameForm.reset()" type="button">Reset</button>

  <h1 *ngIf="message">
    {{message}}
  </h1>
</form>
