
<h1>Form Based</h1>
<form #nameForm="ngForm" (ngSubmit)="submit(nameForm.value)">

  <p>
    <label>First name:
      <input type="text"
             required
             [ngClass]="{error : first.touched && first.invalid}"
             (ngModel)="fullName.first" name="first"
             #first="ngModel">
    </label>
    <span *ngIf="first.touched && first.invalid">Enter first name</span>
  </p>

  <p>
    <label>Middle initial:
      <input type="text" id="middle"
             (ngModel)="fullName.middle" name="middle">
    </label>
  </p>


  <!-- Note: different rules for showing errors (touched & dirty) -->


  <p>
    <label>Last name:
      <input type="text"
             required
             [ngClass]="{error : last.dirty && last.invalid}"
             (ngModel)="fullName.last" name="last"
             #last="ngModel">
    </label>
    <span *ngIf="last.dirty && last.invalid">Enter last name</span>
  </p>

  <button type="submit" [disabled]="nameForm.invalid" >Submit</button>
  <button type="button" (click)="nameForm.reset()">Reset</button>

  <h1 *ngIf="message">
    {{message}}
  </h1>
</form>
